.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp2652964.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.top-header {
  background: #0ba5e3;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.sub-header {
  background: #007dc1;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.content-section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 95px 60px;
  height: calc(100vh - 120px);
}

.left-box {
  width: 420px;
  background: white;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.3);
  overflow-y: auto;
}

.right-box {
  width: 50%;
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 4px;
  color: white;
}

.right-box h2 {
  color: #ffcc00;
  font-size: 28px;
  margin-bottom: 15px;
}
